@import "tailwindcss";

/* Style the scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Style the track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Style the handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

/* Style when hover on the scrollbar */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}

/* Hide scrollbar for Webkit browsers (Chrome, Safari, Edge) */
.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.custom-scrollbar {
  scrollbar-width: none;  /* Hide scrollbar in Firefox */
}
